<header>
    <div></div>
    <div id="header-pagename" class="header-Title"><a href=/">moneySniper</a></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div id="header-toFirst" class="header-item"><a href=/">WhatWeDo</a></div>
    <div id="header-toSecond" class="header-item"><a href=/">Table</a></div>
    <div id="header-toSecond" class="header-item"><a href=/">Graph</a></div>
    <div id="header-toThird" class="header-item"><a href="/">BackTesting</a></div>
    <div id="header-toFourth" class="header-item"><a href="/">Tactics</a></div> 
</header>