<nav>
    <div class="nav-item"><a href="/">Lose yourself</a></div>
    <div class="nav-item"><a href="/">Renegade</a></div>
    <div class="nav-item"><a href="/">'Till I collapse</a></div>
    <div class="nav-item"><a href="/">The real slim shady</a></div>
    <div class="nav-item"><a href="/">Not afraid</a></div>
    <div class="nav-item"><a href="/">Sing for the moment</a></div>
</nav>