<nav>
    <div class="nav-item"><a href="/">Death Note</a></div>
    <div class="nav-item"><a href="/">Fullmetal Alchemist</a></div>
    <div class="nav-item"><a href="/">Psycho-Pass</a></div>
    <div class="nav-item"><a href="/">Tokyo Ghoul</a></div>
    <div class="nav-item"><a href="/">idol-m@ster</a></div>
    <div class="nav-item"><a href="/">Attack on Titan</a></div>
</nav>