<section id="content">
    <div class="content-header">
        OHLC graph
    </div>
    <div class="table-ticker">
        <input type="text" value="ex)   BTC" class="inputbox-ticker">
        <button class="inputbox-ticker-submit">Search</button>
    </div>
    <div id="graphArea">
        <div id="ohlcvmGraph">
            
        </div>
    </div>
</section>