<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>moneySniper</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/showTable.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/showGraph.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <%- include('../partials/nav') %>
        <%- include('../partials/showTable') %>
    </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/js/showGraph.js"></script>
</html>